# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# YOLO training outputs
runs/
training_results/

# Datasets
captured_datasets/
input_dataset/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python cache
.python-version

# Environment variables
.env